.chat-input-form {
  display: flex;
  align-items: center;
  flex: 1;
  min-height: 32px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 32px;
  padding: 0 16px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 8px;

  .select {
    font-family: PingFangSC-Bold;
    font-size: 16px;
    color: #0057FF;
    letter-spacing: 0;
    font-weight: 700;

    .select-text-font {
      font-family: PingFangSC-Regular;
      font-size: 14px !important;
      color: #0D0D0D;
      letter-spacing: 0;
      line-height: 22px;
      font-weight: 400;
    }
  }
}

.inputText {
  font-family: PingFangSC-Bold;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 700;
}
